{%extends "template.html"%}
{%block conteudo%}
  <form action="{{url_for('atualizar')}}" method="post" enctype="multipart/form-data">
      <figure class="thumb col-md-4">  
        <figcaption>
          <img class="img-responsive" src="{{ url_for('imagem', nome_imagem=capa_anime) }}">
          <label class="fileContainer"> Capa
            <input type="file" name="arquivo" accept=".jpg" >
          </label>
        </figcaption>
      </figure>
    <fieldset>
        <input type="hidden" name='id' value="{{anime.id}}">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" id="nome" name="nome" value="{{anime.nome}}" class="form-control">
        </div>
        <div class="form-group">
          <label span="tipo">Tipo</label>
          <input type="text" id="tipo" name="tipo" value="{{anime.tipo}}" class="form-control">
        </div>
        <div class="form-group">
          <label span="episodios">Episodios</label>
          <input type="text" id="episodios" name="episodios" value="{{anime.episodios}}" class="form-control">
        </div>
        <div>
        <button type="submit" class="mybutton">Atualizar</button>
        </div>
    </fieldset>
  </form>
{%endblock%}