{%extends "template.html"%}
{%block conteudo%}
    
    <div class="tabelas"> 
        <div id="caixa-anime">
            <table class="amtb">
                <thead class="thead-default">
                    <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Episodios</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for anime in animes%}
                    <tr >
                        <td>{{anime.nome}}</td>
                        <td>{{anime.tipo}}</td>
                        <td>{{anime.episodios}}</td>
                        <td><a class="mybutton" style="margin: 12px;" href="{{url_for('editar',id=anime.id)}}">EDITAR</a><a class="mybutton" style="margin: 12px;" href="{{url_for('deletar',id=anime.id)}}">DELETAR</a></td>
                    
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div id="caixa-manga">
            <table class="amtb">
                <thead class="thead-default">
                    <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Capitulos</th>
                        <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for manga in mangas%}
                    <tr >
                        <td>{{manga.nome}}</td>
                        <td>{{manga.tipo}}</td>
                        <td>{{manga.capitulos}}</td>
                        <td><a class="mybutton" style="margin: 12px;" href="{{url_for('editar',id=manga.id)}}">EDITAR</a><a class="mybutton" style="margin: 12px;" href="{{url_for('deletar',id=manga.id)}}">DELETAR</a></td>
                    
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>


</div>
{%endblock%}