{%extends "template.html"%}
{%block conteudo%}
    <div class="form-group">    
        <form method="POST" action="{{url_for('autenticar')}}">
            <input type="hidden" name="proxima" value="{{proxima or url_for('inicio')}}">
            <p><label>Nome de usuário:</label> 
                <input class="form-control" type="text" name="usuario" required>
            </p>
            <p>
                <label>Senha:</label> 
                <input class="form-control" type="password" name="senha" required>
            </p>
            <div class="caixa-btn">
                <p><button class="mybutton" type="submit">Entrar</button></p>
                <a class="mybutton" type="button" href="{{url_for('cadastrousuarios')}}">Cadastrar</a>
            </div>
        </form>
    </div>
{%endblock%}